<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Decryption - Image Steganography Project</title>
</head>
<body>
{% include 'navigation.html' %}

<div class="container mt-5">
    <h1 class="text-center">Decrypt Text from Image</h1>
    <form class="mt-5" method="post" action="{% url 'decryption' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label>Encrypted Image</label>
            <input type="file" name="image" class="form-control-file" required>
        </div>
        <button type="submit" class="btn btn-primary">Decrypt</button>
    </form>
</div>

{% if text %}
<div class="alert alert-success mt-3">
    <h4>Decrypted Text</h4>
    <p>{{text}}</p>
</div>
{% endif %}

</body>
</html>